includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    phpVersion: 80400
    level: 5
    paths:
        - src

    excludePaths:
        - src/Testing

    treatPhpDocTypesAsCertain: false
